* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fsbig: 30px;
    --fssmall: 15px;
    --box-height: 30vh;
    --box-width: 100%;
    --bg-color-box: rgba(0, 0, 0, 0.5);
    --br: 5px;
    --btn-height: 30px;
    --btn-width: 5em;
    --btn-font: 0.5rem;
    --btn-fw: 700;
    --dice-w-h: 50px;
    --dice-color: rgb(207, 16, 16);
    --grid-gap: 10px;
    --dot-color: rgb(212, 215, 19);
    --dot-w-h: 0.5em;
    --dot-b-r: 50%;
    --game-w: 140px;
    --game-h: 160px;
}

#parent {
    display: flex;
    justify-content: space-around;
    width: fit-content;
    height: fit-content;
    background-color: brown;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#welcome {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: var(--box-width);
    height: var(--box-height);
    margin: 10px;
    padding: 5px;
    background: var(--bg-color-box);
    text-align: center;
    border-radius: var(--br);
}

button {
    width: var(--btn-width);
    font-size: var(--btn-font);
    font-weight: var(--btn-fw);
}

#game {
    position: absolute;
    display: grid;
    visibility: collapse;
    padding: var(--grid-gap);
    grid-template-areas: 'scoreboard scoreboard' 'dice1 dice2' 'button button';
    gap: var(--grid-gap);
    align-items: center;
    background-color: aliceblue;
    width: var(--game-w);
    height: var(--game-h) auto;
}

#play-btn {
    height: var(--btn-height);
    width: var(--btn-width);
    background: linear-gradient(45deg, rgba(255, 201, 23, 0.7), rgba(255, 255, 255, 0.7));
    font-size: calc(var(--btn-font)*2);
    outline: none;
    border: none;
    border-radius: var(--br);
    box-shadow: 0px 0px 5px rgba(255, 201, 23, 1);
    animation: btn-animation 2000ms ease-in infinite;
}

@keyframes btn-animation {
    0% {
        box-shadow: 0px 0px 5px rgba(255, 201, 23, 1);
    }
    50% {
        box-shadow: 0px 0px 15px rgba(255, 201, 23, 1);
    }
    100% {
        box-shadow: 0px 0px 5px rgba(255, 201, 23, 1);
    }
}

.dice {
    width: var(--dice-w-h);
    height: var(--dice-w-h);
    background: var(--dice-color);
    border-radius: 3px;
}

.dice:nth-child(1) {
    grid-area: dice1;
}

.dice:nth-child(2) {
    grid-area: dice2;
}

#roll {
    padding: var(--br);
    width: 100%;
    /* height: var(--btn-height); */
    background: blue;
    text-align: center;
    font-size: var(--fssmall);
    transition: 300ms;
}


/* or #roll:is(:hover) */

#roll:hover {
    font-size: var(--fsbig);
    background: red;
}


/* define grid area for empty space */

#empty1 {
    grid-area: empty1;
}

#empty2 {
    grid-area: empty2;
}

#empty3 {
    grid-area: empty3;
}

#empty4 {
    grid-area: empty4;
}


/* define grid area for the dots */

#dot1 {
    grid-area: dot1;
}

#dot2 {
    grid-area: dot2;
}

#dot3 {
    grid-area: dot3;
}

#dot4 {
    grid-area: dot4;
}

#dot5 {
    grid-area: dot5;
}

#dot6 {
    grid-area: dot6;
}

#dieface1,
#dieface2,
#dieface3,
#dieface4,
#dieface5,
#dieface6 {
    width: var(--dice-w-h);
    height: var(--dice-w-h);
    display: grid;
}

#dieface1 {
    position: absolute;
    justify-content: center;
    align-items: center;
}

#dieface2,
#dieface3,
#dieface4,
#dieface5,
#dieface6 {
    justify-content: space-around;
    align-items: center;
}

#dieface2 {
    grid-template-areas: 'empty1 empty1 dot1' 'dot2 empty2 empty2';
}

#dieface3 {
    grid-template-areas: 'empty1 empty1 dot1' 'empty2 dot2  empty3' 'dot3 emtpy4 empty4';
}

#dieface4 {
    grid-template-areas: 'dot1 dot2' 'dot3 dot4';
}

#dieface5 {
    grid-template-areas: 'dot1 empty1 dot2' 'empty2 dot3 empty3' 'dot4 empty4 dot5';
}

#dieface6 {
    grid-template-areas: 'dot1 empty1 dot2' 'dot3 empty1 dot4' 'dot5 empty1 dot6';
}

.empty {
    height: var(--dot-w-h);
}

.dots {
    background: var(--dot-color);
    width: var(--dot-w-h);
    height: var(--dot-w-h);
    border-radius: var(--dot-b-r);
}

#score-board {
    background: rgba(0, 0, 0, 0.5);
    grid-area: scoreboard;
    padding: 3px;
    text-align: center;
}

#blurout {
    width: var(--game-w);
    height: var(--game-h);
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    visibility: collapse;
    display: grid;
    justify-content: center;
    align-items: center;
}

#set-player {
    width: 100px;
    height: var(--btn-height);
    text-align: center;
    font-size: 0.7em;
}


/* media query

@media screen and (max-width:500px) {
    #parent {
        height: 100vh;
        width: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #welcome {
        display: flex;
        justify-content: center;
        align-items: center;
    }
} */